{:paths ["src/main/clojure"]
 :deps {
   org.clojure/clojure {:mvn/version "1.12.5"}
   org.clojure/tools.deps.edn {:mvn/version "0.9.38"}
 }
 :aliases {
   :test {:extra-paths ["src/test/clojure"]}
 }
}
